# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
declarations/

# npm/pnpm/yarn pack output
*.tgz

# dependencies
node_modules/

# misc
/.env*
/.pnp*
/.pnpm-debug.log
.DS_Store
.eslintcache
