---
language: node_js
node_js:
  - "4"

sudo: false

cache:
  yarn: true
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=default
  - EMBER_TRY_SCENARIO=ember-1.13.x
  - EMBER_TRY_SCENARIO=ember-2.0.x
  - EMBER_TRY_SCENARIO=ember-2.1.x
  - EMBER_TRY_SCENARIO=ember-2.2.x
  - EMBER_TRY_SCENARIO=ember-2.3.x
  - EMBER_TRY_SCENARIO=ember-2.4.x
  - EMBER_TRY_SCENARIO=ember-2.5.x
  - EMBER_TRY_SCENARIO=ember-2.6.x
  - EMBER_TRY_SCENARIO=ember-2.7.x
  - EMBER_TRY_SCENARIO=ember-2.8.x
  - EMBER_TRY_SCENARIO=ember-2.9.x
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary


before_install:
  - npm install -g bower yarn phantomjs-prebuilt
  - yarn --version
  - bower --version
  - phantomjs --version

install:
  - yarn install
  - bower install

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup
